{% extends 'base.twig' %}
{% block content %}
    <div class="container">
        <div class="w-2/3 md:w-full text-center">
            <h1 class="h1">This is a homepage. Should be better than this really.</h1>
        </div>
    </div>

{% endblock %}
