{% extends 'base.twig' %}
{% block content %}

<div class="container">
	<div class="flex flex-wrap justify-center">
		<div class="w-2/3 md:w-full bg-white md:px-0">
			<div class="form-wrap generic-form mt-20">
				{{ password_form }}
			</div>
		</div>
	</div>
</div>

{% endblock %}
